main {
  max-width: 1280px;
  margin: 0 auto;
}
.container {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 72px);
}
.hero h1 {
  font-weight: 800;
  font-size: 108px;
  line-height: 102px;
}
.hero p {
  font-weight: 600;
  color: var(--grey);
}
.hero-btn {
  width: 330px;
  display: flex;
  gap: 24px;
}
.shoping {
  margin-top: 10px;
}
.brandlogo {
  display: flex;
  gap: 24px;
}
